[Unit]
Description=check_beacon_presence Service
After=multi-user.target

[Service]
User=root
Type=idle
WorkingDirector=/home/pi/git/BTLE-Presence
ExecStart=/home/pi/git/BTLE-Presence/check_beacon_presence.py
Description=check_beacon_presence Service
After=multi-user.target
TimeoutStopSec=20
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
